/***** STANDARD HTML TAGS *****/

h1, h2, h3 {
  padding: 20px;
  color: #3D3D3D;
  text-align: center;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 34px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

h3 {
  padding: 20px 10px 10px 20px;
  color: #3D3D3D;
  font-weight: 200;
  font-size: 16px;
  font-style: italic;
}

h4 {
  font-weight: 500;
  margin: 10px;
}

h5 {
  font-weight: 300;
  font-size: 16px;
  margin: 10px;
}

p, li {
  font-family: 'Lato';
  font-weight: 300;
  line-height: 1.25em;
}

li {
  line-height: 2em;
}

ul, ol, p, a {
  padding: 5px;
}

a {
  color: #008DBC;
}

a:hover {
  text-decoration: none;
}

input[type=text], input[type=email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 20px;
  margin: 3px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

select {
  border: none;
}

select option {
  text-align: center;
}

table {
  width: 100%;
  margin: 30px auto;
}

td, th {
  padding: 20px;
  font-weight: 300;
}

th {
  color: #D3D4D4;
  font-weight: 400;
  text-transform: uppercase;
}

tr {
  border-bottom: 1px solid #D3D4D4;
}

button {
  border: none;
}

/****** PAGE ELEMENTS *****/

.page-content-container {
  padding-top: 85px;
  width: 100%;
  height: 100%;
}

.section-content-container {
  padding-top: 20px;
}

.column-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 10px;
  margin: 10px auto;
  align-items: center;
}

.column {
  text-align: center;
  flex: 1;
}

.banner-image {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}

a.more-info-link {
  display: block;
  margin-top: 10px;
}

p.blurb {
  font-style: italic;
  font-size: 18px;
}

/***** PAGE HEADER *****/

.header-container {
  height: 285px;
  color: white;
}

.header-content-container {
  position: absolute;
  width: 100%;
}

.header-image {
  opacity: 0.5;
  background-color: #008DBC;
  height: 285px;
}

.header-container h1 {
  padding-top: 130px;
  width: 60%;
  margin: 0 auto;
  color: white;
}

.header-container p {
  font-size: 20px;
  width: 42%;
  margin: 0 auto;
  text-align: center;
}


/****** COMPONENTS *******/

.dropdown, .button {
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -ms-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
  padding: 10px 24px;
  min-width: 100px;
  max-width: 200px;
  color: white;
  border-bottom: 2px solid transparent;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.highlight-text {
  color: #00688B;
  font-weight: 200;
  font-size: 24px;
  font-style: normal;
}

.button:hover {
  color: white;
  border: 1px solid white;
}

.btn-primary {
  background-color: #008DBC;
  height: 40px;
  padding: 8px 12px;
}

.number {
  margin: 10px auto;
  padding: 5px;
  width: 30px;
  color: #D3D4D4;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid #D3D4D4;
}

