/******************************************
/* Section styles
/*******************************************/

/***** Form Bar ****/

.progress-bar ul {
  margin: 40px auto;
  max-width: 1000px;
  position: relative;
}

/*progressbar*/
.progress-bar {
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

.progress-bar li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
	text-align: center;
}

.progress-bar li:before {
	content: counter(step);
	counter-increment: step;
	font-family: 'lato';
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 17px;
	color: #a8a8a8;
  	background: #ddd;
	border-radius: 6px;
	margin: 0 auto 20px auto;
/*	-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  	box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);*/
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

/*progressbar connectors*/
.progress-bar li:after {
	content: '';
	width: 100%;
	height: 4px;
  	background: #ddd;
    color: #8bc53f;
	position: absolute;
	left: -50%;
	top: 13px;
	z-index: -1; /*put it behind the numbers*/
}
.progress-bar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progress-bar li.active-step:before,  .progress-bar li.active-step:after{
	background: #008DBC;
	color: white;
}


/***** Form ****/

.form-rows {
	padding: 10px 20px;
	border-right: 1px solid #c5cfd1;
	border-bottom: 1px solid #c5cfd1;
	border-top: 1px solid #c5cfd1;
	text-align: center;
	vertical-align: center;
	height: 65px;
	background: #eee;
}

section .form-description {
	height: 10px;
	position: relative;
	z-index: -1;
	padding-top: 0px;
	height: 150px;
	padding: 0;
}

.form-description  .form-content-container {
	padding-top: 0px;
}

.form-description .form-content-container h1 {
	padding-top: 35px;
}

.form-description .form-content-container p {
	text-align: center;
}

.col-centered {
	margin: 0 auto;
	float: none;
	width: 65.05%;
}

.form-row {
	padding: 50px 0;
	vertical-align: middle;
	display: block;
	width: 100%;
	border-bottom: 2px solid #dfe6e8;
}

.form-row:nth-last-child(-n+4) {
	border-bottom: none;
}

.description-label {
	font-family: 'Lato';
  	font-weight: 500;
  	color: gray;
  	width: 23%;
  	display: inline-block;
	padding: 0;
	margin: 23px 0 0;
	text-align: left;
}

.fields {
	display: inline-block;
	width: 74%;
	margin: 5px 0 0 10px;
}

.personal-information {
	transition: all 0.2s ease-in;
	background: #fafafa;
	border: 1px solid #c5cfd1;
	color: #454f52;
	padding: 15px;
	width: 100%;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 100;
}

.password {
	padding-bottom: 40px;
}

.accept-terms {
	display: inline-block;
	line-height: 0;
}

.submit-button {
	background-color: #66CD00;
	display: block;
	margin: 60px auto;
}

/******************************************
/* Business Application Styles
/*******************************************/

.drop-down {
	color: gray;
	background: #fafafa;
	border: 1px solid #DDDDDD;
	height: 60px;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	font-size: 15px;
	font-weight: 100;
	width: 100%;
}

.application-questions {
	margin-left: 25%;
}