<section class="progress-bar">
	<ul class=" ">
		<li class="active-step" >PROFILE</li>
		<li class="" >BUSINESS INFORMATION</li>
		<li class="" >LENDER MATCH</li>
		<li class="" >LOAN CONFIRMATION</li>
	</ul>
</section>
<section class="hero-container form-description">
	<div class="hero-content-container form-content-container">
		<h1>Let's get started.</h1>
		<p>Fill out the easy 3-step form below to get your loan.</p>
	</div>
</section>

<div class="col-centered">
	<section>
		<form>
			<div class="form-row">
				<label for="first-name" class="description-label">First Name</label>
				<div class="fields">
					<input type="text" class="personal-information first-name" name="first-name" id="first-name" placeholder="First"/>
				</div>
			</div>
			<div class="form-row">
				<label for="first-name" class="description-label">Last Name</label>
				<div class="fields">
					<input type="text" class="personal-information last-name" name="last-name" placeholder="Last"/>
				</div>
			</div>
			<div class="form-row">
				<label for="email-address" class="description-label">Email Address</label>
				<div class="fields">
					<input type="text" class="personal-information email-class" name="email-address" placeholder="Email"/>
				</div>
			</div>
			<div class="form-row">
				<label for="phone" class="description-label">Phone</label>
				<div class="fields">
					<input type="text" class="personal-information phone" name="phone" placeholder="Phone"/>
				</div>
			</div>
			<div class="form-row password">
				<label for="password" class="description-label">Password</label>
				<div class="fields">
					<input type="text" class="personal-information password" name="password" placeholder="Password" />
				</div>
			</div>
			<div class="form-row">
				<label for="password" class="description-label">Password Confirmation</label>
				<div class="fields">
					<input type="text" class="personal-information password" name="password" placeholder="Password"/>
				</div>
			</div>
			<input checked="checked" id="borrower_accept_terms" name="borrower[accept_terms]" type="checkbox" value="1"/>
			<p class="accept-terms">Click <a href="terms-and-conditions" target="_blank">Terms &amp; Conditions</a></p>
			<div class="submit-fields">
				<input type="button" name="next" class="button submit-button" value="NEXT" />
			</div>
		</form>
	</section>
</div>
