<section class="hero-container">
	<div class="hero-image banner-image"></div>
	<div class="hero-content-container">
		<h1>Small Business Loans. Fast. Safe. Easy.</h1>
		<p>Take a deep breath - you've come to the right place.
			LendLadder identifies the right small business loan - every time.
		</p>
		<a class="cta-button button" href="formpage.html">
			<span>GET STARTED</span>
		</a>
	</div>
</section>

<section class="partners-container">
	<h3>Our Partners have been featured in...</h3>
	<div class="column-container">
		<div class="column">
			<img src="img/news/nyt.png" width="100px">
		</div>
		<div class="column">
			<img src="img/news/forbes.png" width="100px">
		</div>
		<div class="column">
			<img src="img/news/wsj.png" width="100px">
		</div>
		<div class="column">
			<img  src="img/news/cnn.png" width="100px">
		</div>
		<div class="column">
			<img src="img/news/bloomberg.png" width="130px">
		</div>
	</div>
</section>

<section class="how-it-works-container">
	<h2>How it works</h2>
	<div class="column-container">
		<div class="column">
			<span><img src="img/icons/LL_Icon_TIME1.png" width="70px"></span>
			<h4>Apply</h4>
			<p>Fill us in on your business
				Answer 10 simple questions - tell us where you are based, what you do, and how you are doing.
			</p>
		</div>
		<hr>
		<div class="column">
			<span><img src="img/icons/LL_Icon_MONEY.png" width="70px"></span>
			<h4>Match with Lenders</h4>
			<p>We tell you where you stand.
				Our proprietary algorithm analyzes your business and matches you with the most appropriate loan types from our lending partners.
			</p>
		</div>
		<hr>
		<div class="column">
			<span>
				<img src="img/icons/LL_Icon_APPROVED.png" width="70px">
			</span>
				<h4>Choose the Right Loan</h4>
				<p>Select your financing
					Once you have compared your options, choose the right loan for your business. It's that easy.
				</p>
		</div>
	</div>
</section>

<section class="testimonial-container">
	<div class="testimonial1">
	<div class="banner-image testimonial-image1"></div>
	<div class="testimonial-text-container">
		<p>LendLadder was a "lighthouse in a storm" for me, and made an unknown process smooth and stress free!
		</p>
		<p>★★★★★ Christine,  Oklahoma City
		</p>
	</div>
	</div>
	<div class="testimonial2">
	<div class="banner-image testimonial-image2"></div>
	<div class="testimonial-text-container">
		<p>In an industry where people might not have your best interest at heart, LendLadder still has genuine integrity and honesty.
		</p>
		<p>Ramin, Los Angeles, CA</p>
	</div>
</section>

<section class="who-we-are-container column-container">
	<span><img src="img/icons/LL_Icon_GUIDE.png" width="190px"></span>
	<div>
	<h2>How LendLadder is Different</h2>
	<ul>
		<li>✓ Consider ALL Lenders</li>
		<li>✓ Only Work with the Best</li>
		<li>✓ Use Best-In-Class Technology</li>
		<li>✓ Allow No Funny Business</li>
		<li>✓ Transparent, Fair, and Low-cost Fee Structure</li>
	</ul>
	<p class="blurb">LendLadder is a unique service that allows businesses to transparently identify their best-fit financing options for free.
	</p>
	<a href="" class="more-info-link">Learn more about LendLadder solutions ></a>
	</div>
</section>

<section class="homepage-loantypes-container column-container">
	<h2>Finding the right Small Business Loan is hard. We can help.</h2>
	<a href="index.html#/loantypes" class="more-info-link">Explore different loan types ></a>
</section>
