<script type="text/javascript" src="js/loantypesdata.js"></script>
<section class="header-container">
  <div class="header-image banner-image"></div>
  <div class="header-content-container">
    <h1>Find which type of loan could be right for you.</h1>
    <p>Personalize this list of loan types by selecting the right capital, credit,
    and terms for you.</p>
  </div>
</section>

<section class="section-content-container">
  <div class="column-container">
    <div class="column" ng-repeat="dimensions in filterDimensions">
      <h5>{{$index + 1 +  '. ' + dimensions.prompt}}</h5>
  <!--     <div class="column-container">
        <div ng-repeat="type in dimensions.type"
             class="loantypes-filter-button-container"
             onclick="selectType(event, $parent.dimensions, type)">
          <button class="lightest-blue button">{{type.name}}</button>
        </div>
      </div> -->
      <select ng-model="dimensions.filter"
              ng-options="dimension.name for dimension in dimensions.type"
              class="lightest-blue loantypes-dropdown dropdown">
        <option value="">-- select one --</option>
      </select>
    </div>
  </div>
</section>

<section class="section-content-container loantypes-container">
<!--   <h3>A list of loans for
      {{filterDimensions[0].filter.name}} capital needs,
      {{filterDimensions[1].filter.name}} credit,
      and for a {{filterDimensions[2].filter.name}} term.
  </h3> -->
  <table class="loantypes-table">
    <thead>
      <th></th>
      <th>Type</th>
      <th>Interest Rate</th>
      <th>Personal Guarantee</th>
      <th>Time to Obtain Funding <br>(in days)</th>
    </thead>
    <tbody class="loantypes-table-body">
      <tr ng-init="show = false"
          ng-repeat-start="type in types
          | filterByCapital:filterDimensions[0].filter.name
          | filterByCredit:filterDimensions[1].filter.name
          | filterByTerm:filterDimensions[2].filter.name"
          ng-class="{'loantypes-row-expanded': show}">
        <td ng-click="show = !show">{{show ? '-' : '+'}}</td>
        <td ng-click="show = !show">{{type.title}}</td>
        <td>
          {{type.interestRateLow ?
            type.interestRateLow  + " - " + type.interestRateHigh + "%" :
            "Not Applicable"}}
        </td>
        <td>{{type.personalGuarantee ? "yes" : "no"}}</td>
        <td>
          {{type.fundingTimeStart ? type.fundingTimeStart : "Not Applicable"}}
          {{type.fundingTimeEnd ? " - " + type.fundingTimeEnd : ""}}</td>
      </tr>
      <tr ng-repeat-end ng-if="show" class="loantypes-row-description">
        <td></td>
        <td class="loantypes-row-description-detail"
            colspan="3">{{type.description}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
    <!-- table>(thead>th*5)+(tbody>tr*15>td*5) -->
</section>
