<script type="text/javascript" src="js/loantypesdata.js"></script>
<section class="hero-container">
  <div class="hero-image banner-image"></div>
  <div class="hero-content-container">
    <h1>Finding the right Small Business Loan is hard. We can help.</h1>
    <p>Some place holder description text?</p>
  </div>
</section>

<section class="lendtypes-container">
  <h2>Loan Types</h2>
  <div class="small-capital-button">small-capital-button</div>
  <table>
    <thead>
      <th>Type</th>
      <th>Description</th>
      <th>Interest Rate</th>
      <th>Personal Guarantee</th>
      <th>Time to Obtain Funding</th>
      <th>Appropriate For</th>
      <th>Not Appropriate For</th>
    </thead>
    <tbody class="loantypes-table-body">
    </tbody>
  </table>
    <!-- table>(thead>th*5)+(tbody>tr*15>td*5) -->
</section>
